<div #gestureSurface class="tabs-shell">
  <ion-tabs>
    <ion-tab-bar slot="bottom" aria-label="Navegación principal">
      <ion-tab-button tab="home" href="/tabs/home">
        <ion-icon name="home-outline" aria-hidden="true"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="pets" href="/tabs/pets">
        <ion-icon name="paw-outline" aria-hidden="true"></ion-icon>
        <ion-label>Mascotas</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="care" href="/tabs/care">
        <ion-icon name="calendar-outline" aria-hidden="true"></ion-icon>
        <ion-label>Cuidados</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="nfc" href="/tabs/nfc">
        <ion-icon name="radio-outline" aria-hidden="true"></ion-icon>
        <ion-label>NFC</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="history" href="/tabs/history">
        <ion-icon name="time-outline" aria-hidden="true"></ion-icon>
        <ion-label>Historial</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</div>
