/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Estilos globales utilizados en toda la aplicación PetCare.
 */

/* Core CSS requerido para los componentes de Ionic */
@import "@ionic/angular/css/core.css";

/* CSS básico de Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Utilidades CSS de Ionic */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/* Estilos oficiales del mapa Leaflet */
@import "leaflet/dist/leaflet.css";

/* Fondo general de PetCare */
html,
body {
  background: #eef5f2;
}

/*
 * Evita que otros estilos globales deformen
 * los mosaicos que forman el mapa.
 */
.leaflet-container .leaflet-tile {
  width: 256px !important;
  height: 256px !important;
  max-width: none !important;
  max-height: none !important;
  object-fit: fill !important;
}